<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="CONSOLE_PATTERN">
            [%d{yyyy-MM-dd HH:mm:ss.SSS}] %highlight{%-5p}{FATAL=red, ERROR=red, WARN=yellow, INFO=green} %c{1}:%L - %m%n
        </Property>
        <Property name="FILE_PATTERN">
            [%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p %c{1}:%L - %m%n
        </Property>
        <Property name="LOG_DIR">logs</Property>
    </Properties>
    <Appenders>
        <!-- console -->
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${CONSOLE_PATTERN}"/>
        </Console>

        <!-- rolling file -->
        <RollingFile name="RollingFile"
                     fileName="${LOG_DIR}/mmsj.log"
                     filePattern="${LOG_DIR}/mmsj-%d{yyyy-MM-dd}-%i.log.gz">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${FILE_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10" compressionLevel="9"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.metamystia.server" level="debug">
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
